*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #264952;
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
  overflow-x: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 200px 30px;
  position: relative;
}
.hero .about {
  width: 50%;
  padding-right: 100px;
}
.hero .about h4 {
  font-size: 16px;
  font-weight: 600;
  color: #1a3137;
  margin-bottom: 1rem;
}
.hero .about h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 200;
  letter-spacing: 5px;
}
.hero .about button {
  background-color: white;
  color: #264952;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.hero .about button:active {
  background-color: #1a3137;
  text-decoration: none;
  border: none;
  outline: none;
}
.hero .about button:focus {
  text-decoration: none;
  border: none;
  outline: none;
}
.hero .about h5 {
  font-size: 16px;
  line-height: 1.25rem;
  margin-bottom: 20px;
}
.hero .profile {
  width: 25%;
  border-radius: 50%;
}

.hero::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  top: -500px;
  left: -500px;
  z-index: -1;
  background: #396d7a;
}

.projects {
  margin: 70px 100px;
}
.projects h2 {
  font-weight: 200;
  font-size: 36px;
  margin-bottom: 50px;
}
.projects .project {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  border-radius: 25px;
  background-color: #1a3137;
  padding: 25px;
  margin: 40px 0;
}
.projects .project .project-left {
  width: 50%;
  padding: 0.5rem;
}
.projects .project .project-left h3 {
  font-size: 28px;
  font-weight: 200;
  padding-bottom: 0.75rem;
  line-height: 2rem;
}
.projects .project .project-left a.link {
  display: inline-block;
  text-decoration: none;
  color: #6dabbb;
  font-size: 16px;
  margin: 0 20px 1rem 0;
}
.projects .project .project-left a.link:active {
  color: white;
}
.projects .project .project-left p {
  font-size: 14px;
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
}
.projects .project .project-left ul li {
  font-size: 14px;
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
}
.projects .project .project-left a.hyperlink {
  display: inline-block;
  text-decoration: none;
  color: #6dabbb;
}
.projects .project .project-left .technologies {
  margin-top: 1rem;
}
.projects .project .project-left button {
  background-color: white;
  color: #264952;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.projects .project .project-left button:active {
  background-color: white;
  text-decoration: none;
  border: none;
  outline: none;
}
.projects .project .project-left button:focus {
  text-decoration: none;
  border: none;
  outline: none;
}
.projects .project .project-right {
  display: flex;
  align-items: center;
  width: 45%;
}
.projects .project .project-right img {
  width: 100%;
  border-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
