*,
*:before,
*:after {
  box-sizing: border-box;
}

@mixin respond-medium {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin respond-small {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin respond-xsmall {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin respond-phone {
  @media (max-width: 610px) {
    @content;
  }
}

body {
  background-color: #264952;
  font-family: 'Poppins', sans-serif;
  color: white;
  position: relative;
  overflow-x: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 200px 30px;
  position: relative;

  @include respond-medium {
    flex-direction: column-reverse;
    margin: 100px 30px;
  }

  @include respond-phone {
    margin: 50px 20px;
  }

  .about {
    width: 50%;
    padding-right: 80px;

    @include respond-medium {
      width: 60%;
      text-align: center;
      padding: 0;
    }

    @include respond-phone {
      width: 90%;
    }

    h4 {
      font-size: 16px;
      font-weight: 600;
      color: #1a3137;
      margin-bottom: 1rem;

      @include respond-medium {
        display: none;
      }
    }

    h1 {
      font-size: 50px;
      margin-bottom: 20px;
      font-weight: 200;
      letter-spacing: 5px;

      @include respond-phone {
        font-size: 36px;
      }
    }

    h5 {
      font-size: 16px;
      line-height: 1.25rem;
      margin-bottom: 20px;

      @include respond-phone {
        font-size: 14px;
      }
    }

    button {
      background-color: white;
      color: #264952;
      text-decoration: none;
      border: none;
      border-radius: 10px;
      margin-bottom: 20px;
      margin-right: 15px;
      padding: 10px 10px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;

      @include respond-medium {
        width: 110px;
      }

      @include respond-phone {
        font-size: 14px;
      }
    }

    button:active {
      background-color: #1a3137;
      text-decoration: none;
      border: none;
      outline: none;
    }

    button:focus {
      text-decoration: none;
      border: none;
      outline: none;
    }
  }

  .profile {
    width: 25%;
    border-radius: 50%;

    @include respond-medium {
      width: 30%;
      margin-bottom: 70px;
    }

    @include respond-small {
      width: 40%;
      margin-bottom: 70px;
    }

    @include respond-phone {
      width: 70%;
      margin-bottom: 70px;
    }
  }
}

.hero::before {
  content: '';
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  top: -500px;
  left: -500px;
  z-index: -1;
  background: #396d7a;
}

.projects {
  margin: 70px 100px;

  @include respond-xsmall {
    margin: 70px 50px;
  }

  @include respond-phone {
    margin: 70px 15px;
  }

  h2 {
    font-weight: 200;
    font-size: 36px;
    margin-bottom: 50px;

    @include respond-phone {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .project {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    border-radius: 25px;
    background-color: #1a3137;
    padding: 25px;
    margin: 40px 0;

    @include respond-small {
      flex-direction: column-reverse;
    }

    @include respond-phone {
      margin: 20px 0;
      padding: 20px;
    }

    .project-left {
      width: 50%;
      padding: 0.5rem;

      @include respond-small {
        width: 100%;
      }

      @include respond-phone {
        padding-bottom: 0;
      }

      h3 {
        font-size: 28px;
        font-weight: 200;
        padding-bottom: 0.75rem;
        line-height: 2rem;

        @include respond-phone {
          font-size: 20px;
          padding-bottom: 0.25rem;
        }
      }

      a.link {
        display: inline-block;
        text-decoration: none;
        color: #6dabbb;
        font-size: 16px;
        margin: 0 20px 1rem 0;

        @include respond-phone {
          font-size: 14px;
          margin: 0 20px 0.75rem 0;
        }
      }

      a.link:active {
        color: white;
      }

      ul li {
        font-size: 14px;
        margin-bottom: 0.5rem;
        line-height: 1.25rem;

        @include respond-phone {
          font-size: 12px;
          line-height: 1rem;
        }
      }

      a.hyperlink {
        display: inline-block;
        text-decoration: none;
        color: #6dabbb;
      }

      .technologies {
        margin-top: 1rem;
      }

      button {
        background-color: white;
        color: #264952;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 2px 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;

        @include respond-phone {
          font-size: 12px;
        }
      }

      button:active {
        background-color: white;
        text-decoration: none;
        border: none;
        outline: none;
      }

      button:focus {
        text-decoration: none;
        border: none;
        outline: none;
      }
    }

    .project-right {
      display: flex;
      align-items: center;
      width: 45%;

      @include respond-small {
        width: 100%;
        margin-bottom: 15px;
      }

      @include respond-phone {
        width: 100%;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        border-radius: 25px;
      }
    }
  }
}
